* {
    box-sizing: border-box;
}

body {
    --background: white;
    --darker-background: lightgray;
    --font-color: black;
    background: var(--background);
    color: var(--font-color);
    font-family: Poppins, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background: var(--darker-background);
}

header > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header * {
    margin: 5px;
}

main {
    margin: 20px;
}

select {
    font-family: Poppins, sans-serif;
    border: 1px solid var(--font-color);
    border-radius: 5px;
    background: var(--darker-background);
    color: var(--font-color);
}

button {
    font-family: Poppins, sans-serif;
    border: 1px solid var(--font-color);
    background: var(--darker-background);
    color: var(--font-color);
    border-radius: 5px;
    cursor: pointer;
}

pre {
    font-family: "JetBrains Mono", monospace;
    margin: 20px;
    color: gray;
    user-select: none;
}

footer {
    background: var(--darker-background);
    padding: 10px 20px;
}

.CodeMirror {
    background: transparent !important;
    font-family: "JetBrains Mono", monospace !important;
    margin: 17px;
    border: 4px solid var(--font-color) !important;
    border-radius: 5px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

#timer {
    transform: translateX(50%);
}

#players {
    margin: 20px;
}

#playerName {
    font-weight: bold;
}

.modal {
    z-index: 2 !important;
}

a {
    color: var(--font-color);
}
